@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	/* background: radial-gradient(125% 125% at 50% 10%, #fff 30%, #81d4e7 60%); */
	background: radial-gradient(125% 125% at 50% 10%, #fff 30%, #81d4e7 70%, #049ce4 100%);
	width: 100%;
}

#svelte {
	height: 100%;
	width: 100%;
}
